<div id="header">
	<header>
    	<h1><a href=<%= title.link %>><%= title.name %></a></h1>
    </header>

    <footer>
    	<div id="navbar">
        	<ul>
            	<% for(var i=0; i<navbar.length; i++) {%>
              	<li><a href=<%= navbar[i].link %>><%= navbar[i].name %></a></li>
            	<% } %>
          	</ul>
        </div>
    </footer>
</div>